__pycache__
*.pyc
*.pyo
.pytest_cache
.mypy_cache
htmlcov
coverage.xml
*.egg-info
.git
.gitignore
.env
.venv
venv
tests
requirements-dev.txt
bandit-report.json
Dockerfile.base
Dockerfile.k8s
pyproject.toml
mypy.ini
